*{
    border: null;
    margin: 0;
    padding: 0;
}
/*table css*/
.el-table .warning-row {
    background: oldlace;
}

.el-table .success-row {
    background: #f0f9eb;
}

/*container css*/
.el-header, .el-footer ,.el-menu-demo{
     background-color: #B3C0D1;
     color: #333;
     text-align: center;
     line-height: 60px;
 }
.el-header{
    padding-left: 200px;
}

.el-aside {
    /*background-color: #D3DCE6;*/
    color: #333;
    text-align: center;
    line-height: 200px;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 60px;
}

.el-footer{
    position: fixed;
    left: 200px;
    bottom: 0;
    right: 0;
}

.el-main {
    /*background-color: #E9EEF3;*/
    color: #333;
    text-align: center;
    line-height: 160px;
}

body > .el-container {
    margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
    line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
    line-height: 320px;
}
.el-container .is-vertical{
    margin-left: 200px;
}

/*aside css*/
.el-menu-vertical-demo:not(.el-menu--collapse) {
    /*width: 200px;*/
    min-height: 100%;
}