<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.activiti.ActReDeploymentMapper">
  <resultMap id="BaseResultMap" type="com.example.model.activiti.ActReDeployment">
    <id column="ID_" jdbcType="VARCHAR" property="ID_" />
    <result column="NAME_" jdbcType="VARCHAR" property="NAME_" />
    <result column="CATEGORY_" jdbcType="VARCHAR" property="CATEGORY_" />
    <result column="KEY_" jdbcType="VARCHAR" property="KEY_" />
    <result column="TENANT_ID_" jdbcType="VARCHAR" property="TENANT_ID_" />
    <result column="DEPLOY_TIME_" jdbcType="TIMESTAMP" property="DEPLOY_TIME_" />
    <result column="ENGINE_VERSION_" jdbcType="VARCHAR" property="ENGINE_VERSION_" />
  </resultMap>
  <sql id="Base_Column_List">
    ID_, NAME_, CATEGORY_, KEY_, TENANT_ID_, DEPLOY_TIME_, ENGINE_VERSION_
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from act_re_deployment
    where ID_ = #{ID_,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from act_re_deployment
    where ID_ = #{ID_,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.model.activiti.ActReDeployment">
    insert into act_re_deployment (ID_, NAME_, CATEGORY_, 
      KEY_, TENANT_ID_, DEPLOY_TIME_, 
      ENGINE_VERSION_)
    values (#{ID_,jdbcType=VARCHAR}, #{NAME_,jdbcType=VARCHAR}, #{CATEGORY_,jdbcType=VARCHAR}, 
      #{KEY_,jdbcType=VARCHAR}, #{TENANT_ID_,jdbcType=VARCHAR}, #{DEPLOY_TIME_,jdbcType=TIMESTAMP}, 
      #{ENGINE_VERSION_,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.model.activiti.ActReDeployment">
    insert into act_re_deployment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ID_ != null">
        ID_,
      </if>
      <if test="NAME_ != null">
        NAME_,
      </if>
      <if test="CATEGORY_ != null">
        CATEGORY_,
      </if>
      <if test="KEY_ != null">
        KEY_,
      </if>
      <if test="TENANT_ID_ != null">
        TENANT_ID_,
      </if>
      <if test="DEPLOY_TIME_ != null">
        DEPLOY_TIME_,
      </if>
      <if test="ENGINE_VERSION_ != null">
        ENGINE_VERSION_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ID_ != null">
        #{ID_,jdbcType=VARCHAR},
      </if>
      <if test="NAME_ != null">
        #{NAME_,jdbcType=VARCHAR},
      </if>
      <if test="CATEGORY_ != null">
        #{CATEGORY_,jdbcType=VARCHAR},
      </if>
      <if test="KEY_ != null">
        #{KEY_,jdbcType=VARCHAR},
      </if>
      <if test="TENANT_ID_ != null">
        #{TENANT_ID_,jdbcType=VARCHAR},
      </if>
      <if test="DEPLOY_TIME_ != null">
        #{DEPLOY_TIME_,jdbcType=TIMESTAMP},
      </if>
      <if test="ENGINE_VERSION_ != null">
        #{ENGINE_VERSION_,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.model.activiti.ActReDeployment">
    update act_re_deployment
    <set>
      <if test="NAME_ != null">
        NAME_ = #{NAME_,jdbcType=VARCHAR},
      </if>
      <if test="CATEGORY_ != null">
        CATEGORY_ = #{CATEGORY_,jdbcType=VARCHAR},
      </if>
      <if test="KEY_ != null">
        KEY_ = #{KEY_,jdbcType=VARCHAR},
      </if>
      <if test="TENANT_ID_ != null">
        TENANT_ID_ = #{TENANT_ID_,jdbcType=VARCHAR},
      </if>
      <if test="DEPLOY_TIME_ != null">
        DEPLOY_TIME_ = #{DEPLOY_TIME_,jdbcType=TIMESTAMP},
      </if>
      <if test="ENGINE_VERSION_ != null">
        ENGINE_VERSION_ = #{ENGINE_VERSION_,jdbcType=VARCHAR},
      </if>
    </set>
    where ID_ = #{ID_,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.model.activiti.ActReDeployment">
    update act_re_deployment
    set NAME_ = #{NAME_,jdbcType=VARCHAR},
      CATEGORY_ = #{CATEGORY_,jdbcType=VARCHAR},
      KEY_ = #{KEY_,jdbcType=VARCHAR},
      TENANT_ID_ = #{TENANT_ID_,jdbcType=VARCHAR},
      DEPLOY_TIME_ = #{DEPLOY_TIME_,jdbcType=TIMESTAMP},
      ENGINE_VERSION_ = #{ENGINE_VERSION_,jdbcType=VARCHAR}
    where ID_ = #{ID_,jdbcType=VARCHAR}
  </update>
</mapper>