<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模型列表</title>
    <!-- 引入样式 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.4.9/theme-chalk/index.css" rel="stylesheet">
    <link rel="stylesheet" href="/resources/css/list.css">
</head>
<body>
<div id="app">

</div>
<!-- 引入组件库 -->
<script src="https://cdn.bootcss.com/vue/2.5.17/vue.js"></script>
<!--依赖vue.js  so  需要先引入vue.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.4.9/index.js"></script>
<script src="/resources/js/list.js" type="application/javascript"></script>
</body>
</html>