<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模型列表</title>
    <!-- 引入样式 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.4.9/theme-chalk/index.css" rel="stylesheet">
    <link rel="stylesheet" href="/resources/list/list.css">
</head>
<body>
<div id="app">
    <template>
        <el-container>
            <el-main>
                <el-button @click="dialogFormVisible = true" type="primary" plain style="float: left;margin: 10px 0px;">新增流程</el-button>
                <el-table
                        :data="tableData"
                        border
                        style="width: 100%"
                        :row-class-name="tableRowClassName">
                    <el-table-column
                            prop="modelName"
                            label="模型名称"
                            width="150">
                    </el-table-column>
                    <el-table-column
                            prop="modelCode"
                            label="模型编码"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="modelTypeName"
                            label="类型名称"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="modelTypeCode"
                            label="类型编码"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="modelDesc"
                            label="流程描述"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="modelOrgName"
                            label="组织名称"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="modelOrgCode"
                            label="组织编码"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="modelCorpName"
                            label="企业名称"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="modelCorpCode"
                            label="企业编码"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="modelVersion"
                            label="版本"
                            width="50">
                    </el-table-column>
                    <el-table-column
                            prop="modelStatesName"
                            label="状态"
                            width="50">
                    </el-table-column>
                    <el-table-column
                            label="创建时间"
                            width="200">
                        <template slot-scope="scope">
                            <i class="el-icon-time"></i>
                            <span style="margin-left: 10px">{{ scope.row.creationDate }}</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                            label="操作"
                            width="150">
                        <template slot-scope="scope">
                            <el-button @click="handleClick(scope.row)" size="mini">查看</el-button>
                            <el-button type="warning" size="mini">编辑</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <div class="block">
                    <el-pagination
                            @size-change="handleSizeChange"
                            @current-change="handleCurrentChange"
                            :current-page="pageNumber"
                            :page-sizes="pageSizes"
                            :page-size="pageSize"
                            layout="total, sizes, prev, pager, next, jumper"
                            :total="tatal">
                    </el-pagination>
                </div>
            </el-main>
        </el-container>

        <el-dialog title="新增流程" :visible.sync="dialogFormVisible">
            <el-form :model="form">
                <el-form-item label="流程名称" :label-width="formLabelWidth">
                    <el-input v-model="form.modelName" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="流程编码" :label-width="formLabelWidth">
                    <el-input v-model="form.modelCode" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="流程描述" :label-width="formLabelWidth">
                    <el-input v-model="form.modelDesc" autocomplete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="add()">确 定</el-button>
            </div>
        </el-dialog>
    </template>
</div>
<!-- 引入组件库 -->
<script src="https://cdn.bootcss.com/vue/2.5.17/vue.js"></script>
<!--依赖vue.js  so  需要先引入vue.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.4.9/index.js"></script>
<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
<script src="/resources/list/list.js" type="application/javascript"></script>
</body>
</html>